.container .btn {
    border-radius: 50px;
    font-size: 12px;
    font-weight: 400;
}

.container .btn-light {
    background: #FFFFFF;
    color: #0E2149;
    border-color: #D5AF86;
    display: flex;
}

.card-animation:hover {
    transform: scale(1.1);
}

.card-animation {
    transition: all 0.5s ease;
}